// Static navbar 
.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Bandify
    .navbar-collapse.collapse
      ul.nav.navbar-nav

        if (user != null)
          li
            a(href='/user') User info

          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") Jams <span class="caret"></span> 
            ul.dropdown-menu
              li
                a(href="/jam") List jams
                a(href="/jam/create") New jam
          li
            a(href='/jam/search') Search Spotify-Jams
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") Tracks <span class="caret"></span> 
            ul.dropdown-menu
              li
                a(href="/tracks/") List tracks
                a(href="/tracks/create") New track

        else
          li
            a(href='/jam') List jams
          li
            a(href='/jam/search') Search Spotify-Jams
          li
            a(href='/tracks/') Tracks