// Static navbar 
.navbar.navbar-default.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Bandify
    .navbar-collapse.collapse
      ul.nav.navbar-nav

        if (user != null)
          li
            a(href='/user') User info
          li
            a(href='/jam/create') New jam
          li
            a(href='/jam') List jams
          li
            a(href='/jam/search') Search Spotify-Jams
          li
            a(href='/tracks/') Tracks
          li
            a(href='/tracks/create') New track

        else
          li
            a(href='/jam') List jams
          li
            a(href='/jam/search') Search Spotify-Jams
          li
            a(href='/tracks/') Tracks