extends layout

block content
  .row
    .col-md-6
      h1 Welcome to Bandify!
      p
        | Here you can quickly start your own jam sessions, record your own sound and even collaborate with other musicians or singers!

    .col-md-6

      if (user == null)
        h2 Login
        if (message != null && message.length > 0)
          | Username or password was incorrect!
        include loginform

      else
        h2 Logged in as 
          span.username
            a(href="/user")
              =user.username
        p
          | Use the menu above to get freaky

  .row#testimonials
    h2 Testimonials
    .row
      .col-md-6
        cite Bandify is
          br
          | a [...] webapp
      .col-md-6
        cite Such
          br
          | WoWHack,
          br
          | wow!
    .row
      .col-md-6
        cite
          | [...] great [...]
      .col-md-6
        cite
          | What the [...]
