extends layout

block content
  h1 index!
  p
    | Welcome to 
    strong Bandify!
  p
    | Here you can quickly start your own jam sessions, record your own sound and even collaborate with other musicians or singers!
  h2 Sign up now!
  include signupform

