extends layout

block content
  h1 Welcome to Bandify!

  if (user == null)
    p
      | Here you can quickly start your own jam sessions, record your own sound and even collaborate with other musicians or singers!
    h2 Sign up now!
    include signupform

  else
    h2 Logged in as 
      span.username
        a(href="/user")
          =user.username
    p
      a(href="/logout")
        | Logout?