doctype html
html
  head
    title Bandify
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style.css")
  body
    include header
    .container
      block content

    script(src="/track.js")