doctype html
html
  head
    title Jade Suger
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style.css")
  include header
  body
    .container
      block content