.row
  .col-md-3
    form(method='post', action='/signup')
      .form-group
        label(for="username") Username
        input.form-control(type="text", placeholder="Username", name="username", id="username")
      .form-group
        label(for="username") Password
        input.form-control(type="text", placeholder="Password", name="password", id="password")
      .form-group
        input.btn.btn-primary(type="submit" value="Signup")

.row
  .col-md-3
    h2 Already have an account?
    p
      | Then why are you here? 
      a(href="/login") Login!