/*
 * orange: #EB540A
 * dark orange: #bc451a
 *
 */

/* Global
------------------------------------------------------------- */



/* General */

p, label {
	color: #bc451a;
}

h1, h2, h3, h4, h5 {
	color: #E68757;
}

#testimonials {
	text-align: center;
	background: #FFE9DF;
	margin-top: 4em;
	margin-bottom: 4em;
	padding-top: 2em;
	padding-bottom: 4em;
	border: 1em #FFCFB9 solid;
}

#testimonials div {
	position: relative;
}

#testimonials .row {
	margin-bottom: 3em;
}

#testimonials div cite {
	
	font-size: 3em;
	color: #634F46;
	text-shadow: 6px 6px #EEBEA7;
}
#testimonials cite:before {
	font-size: 200%;
	position: absolute;
	content: '\201C';
	top: -20px;
	left: 15%;
	right: auto;
}
#testimonials cite:after {
	font-size: 200%;
	position: absolute;
  content: '\201D';

  right: 15%;
	left: auto;
}

/* Header */

.navbar {
	background: #EB540A;
}

.nav.navbar-nav > li > a {
	color: white;
	background: #E04B15;
}

.nav.navbar-nav > li {
	border-right: 1px #EB540A solid;
}

.nav.navbar-nav > li:last-child {
	border-right: none;
}

.nav.navbar-nav > li > a:hover {
	background: #D44815;
	color: white;
}

.navbar-header .navbar-brand {
	letter-spacing: 0.3em;
	font-size: 200%;
	color: white;
}

.navbar-header .navbar-brand:hover {
	background: #D43D06;
	color: white;
}

/* Main page */

.username {
	color: black;
}

/* Button */

.spoti-search-btn {
	margin: 0.5em;
}


/* Lists */

#search-results li:nth-child(odd) {
	background: #EEEEEE;
	width: 100%;
	overflow: hidden;
	padding: 0.5em;
}

#search-results li:nth-child(even) {
	background: white;
	width: 100%;
	overflow: hidden;
	padding: 0.5em;
}

#search-results li button {
	float: right;
	background: white;
	color: #EB540A;
	border: 1px solid #EB540A;
}

#search-results li button:hover {
	box-shadow: 0px 0px 9px 2px #EB540A;
}

.track-name {
	float: left;
	font-size: 14px;
}

.track-artist {
	float: left;
	font-size: 14px;
}

.jam-list li {
	width: 100%;
	overflow: hidden;
	padding: 0.2em;
}

.jam-list p {
	font-size: 18px;
	width: auto;
}

.jam-list li:nth-child(odd) {
	background: #EEEEEE;
	
}

.jam-list li:nth-child(even) {
	background: white;
}


.jam-list li:hover {
	background: #EB540A;
}


.make-it-red {
	color: red;
}