extends ../layout

block content
  h1 Create band form

  .row
    .col-md-5
      form(method='post', action='/band/save')
        .form-group
          label Name
          input.form-control(name='name', type='text', placeholder='Band name')

        .form-group
          label Description
          textarea.form-control(name='desc', rows='3')


        button.btn.btn-success Create band

    .col-md-5
      .form-group
        label Search users
        input.form-control(id='userId', name='member', type='text', readonly='readonly', placeholder='UserID')

      .form-group.form-inline
        input.form-control(id='username', type='text', placeholder'Username')
        button.btn.btn-primary.user-search-btn(data-name='user-search') Search user

      ul(id='search-results')

  script(src="/create-band.js")


