extends ../layout

block content
  h1 Create jam form

  .row
    .col-md-5
      form(method='post', action='/jam/save')
        .form-group
          label Title
          input.form-control(name='title', type='text', placeholder='My song')

        .form-group
          label Description
          textarea.form-control(name='desc', rows='3')

        .form-group
          label Lyrics <a href="#" id="musixmatch-modal-btn">(fetch from musixmatch)</a>
          textarea.form-control(name='lyrics', rows='3')

        button.btn.btn-success Create jam


    .col-md-4
      .form-group
        label Spotify-song
        input.form-control(id='spotify-id-field', name='spotify', type='text', readonly="readonly" placeholder='Spotify-id')
        p(id='spotify-song-name') 
      label Search Spotify song
      .form-group.form-inline
        input.form-control(id='trackName', name='title', type='text', placeholder='Name')
        button(class='btn btn-primary spoti-search-btn' data-name='create-search') Search songs

      ul(id='search-results')

  

  #lyrics-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(data-dismiss='modal', type='button')
          h4.modal-title MusixMatch Fetcher
        .modal-body
          .row
            .col-xs-4
              input#song-title.form-control(placeholder='Song title')

            .col-xs-4
              input#song-artist.form-control(placeholder='Song artist')

            .col-xs-4
              button#find-songs.btn.btn-primary Get lyrics
          .row(style="margin-top: 10px")
            .col-md-12
              #results
         .modal-footer
            button.btn.btn-default Close

  script(src='/handlebars-v1.3.0.js')
  script(src='/create-jam.js')
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="/spotify-web-api.js")
  script(src="/spotifysearch.js")

  script#song-lyrics(type='text/x-handlebars-template')
    textarea.form-control(rows=10)
      {{lyrics}}
