extends ../layout

block content
  .row
    .col-md-3

      .form-group
        label Search for jams
        input.form-control(id='jam-search-field' name='search', type='text', placeholder='Jam name')
      .form-group
        button.btn.btn-primary(data-name='jam-search') Search



    .col-md-9
      if (jams != null && jams.length != 0)
        h1 Listing the jams
        ul.jam-list
          for jam in jams
            li.jam-list-item
              p
                =jam.title
              a.btn.btn-default(href='/jam/' +  (jam._id)) View Jam
              a.btn.btn-danger(href='/jam/delete/' + (jam._id)) Delete
      else
        h1 There are no jams :(((
  script(src="/list-jam.js")
  