extends ../layout

block content
  h1 Listing the jams
    ul.jam-list
    for jam in jams
      li.jam-list-item
        a(href='/jam/' +  (jam._id))
          =jam.title
        a.btn.btn-danger(href='/jam/delete/' + (jam._id)) Delete
