extends ../layout

block content
  h1 Create jam form

  .row
    .col-md-3
      form
        .form-group
          label Title
          input.form-control(type='text', placeholder='My song') 

        button.btn.btn-success Create jam
