extends ../layout

block content
  h1=jam.title
  p
    =jam.desc
  p
    =jam.spotifyId
  p
    =user.username
  a(href='/jam/delete/' + (jam._id)) delete
  
  button#play-jam.btn.btn-primary Play jam

  script(src='/show-jam.js')
