extends ../layout

block content

  .row
    .col-md-8.col-md-offset-2
      h2 How about creating a new track, huh?
  .row
    .col-md-8.col-md-offset-2
      form(method='post', action='/tracks/save')
        .form-group
          label(for="title") Title
          input.form-control(type="text", placeholder="Your title", name="title", id="title")

        .form-group.clearfix.record-group
          label(style="display: block") Create your sound
          .btn-group
            button#track_start.btn.btn-success Start Recording
            button#track_stop.disabled.btn.btn-danger Stop Recording

        .form-group#spotify-widget-area

        .form-group.recording-completed(style="display:none")
          p(style="padding:15px; border-radius:5px").bg-success Sound recorded

        .form-group
          input.btn.btn-primary(type="submit" value="Save track")

  script(src="/spotify-web-api.js")
  script(src="/spotifysearch.js")
